.metal-items-div {
display:none;
}

.metal-items {
position:absolute;
list-style:none;
padding:0;
}

.metal-items li {
cursor:pointer;
background-color:#FFF;
}

.metal-selected-item {
background-color:lightgray!important;
}

