#dmi-items-div {
    padding-top: 10px;
    display: none;
}
#dmi-items {
    width: 200px;
    border: solid 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 15px #888888;
    color: rgb(0, 102, 0);
    text-shadow: 0 0 1px rgba(0, 102, 0, 0.5);
    overflow: auto;
    height: 200px;
}
#dmi-items li {
    border-bottom: solid 1px;
    padding: 10px;
}
#dmi-items li:hover {
    background-color: grey;
}
#dmi-input-div {
    border-radius: 3px;
    border-width: 0px;
    box-shadow: 0px 0px 15px #888888;
    color: rgb(0, 102, 0);
    text-shadow: 0 0 1px rgba(0, 102, 0, 0.5);
    cursor: pointer;
    width: 200px;
}
#dmi-input-div:hover {
    box-shadow: 0px 0px 30px 5px #006600;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#dmi-input2 {
    border: solid 0px red;
    width: 150px;
    padding: 10px;
    background-color: transparent;
    color: rgb(0, 102, 0);
    text-shadow: 0 0 1px rgba(0, 102, 0, 0.5);
}